.sb-container{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    margin-top:10em;
}
.sb-searchbar{
    width: 22em;
    height: 4em;
    background-color: transparent;
    border:5px solid #78612B;
    border-radius: 5px;
    color: #78612B;
    /* font-size: 20px; */
}

/* input[type="text"]{
    backgo
} */